* {
    text-align: left;
    font-family: 'Oswald', sans-serif;
}

input:checked + span {
    color: red;
}

input {
    display: none;
}

input:checked + .image-class {
    border: 7px dotted red;
    box-shadow: chartreuse;
}

body {
    background-color: #ffea00;
}

header {
    text-align: left;
}

img {

    width: 110px;
}

.computer-image {
    /* width: 50%;
    height: 50%; */
    border: 7px dotted rgb(53, 117, 50);
    /* box-shadow: 10px 10px 5px purple; */
    display: none;

}

.computer-image2 {
    /* width: 50%;
    height: 50%; */
    border: 7px dotted rgb(53, 117, 50);
    /* box-shadow: 10px 10px 5px purple; */
    display: none;

}
.computer-image3 {
    /* width: 50%;
    height: 50%; */
    border: 7px dotted rgb(53, 117, 50);
    /* box-shadow: 10px 10px 5px purple; */
    display: none;

}

.arrange-selection {
    position: absolute;
    left: 400px;
    top: 50px;
}

.arrange-computer {
    position: absolute;
    left: 500px;
    top: 300px;
}

#computer-choice {
    display: none;
}

#wins-losses-draws {
    position: fixed;
    top: 350px;
    right: 450px;
}

#footer {
    position: absolute;
    bottom: 100px;
}

#rules-display {
    color: red;
}